/* commentaire*/
p {
    
    color:red;
}

#id1{
    color:green;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}
#nom{
    color:blue;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}
.LaClasse{
    color:blueviolet
}
#id2{
    color:rgb(100,30,80);
    text-align: center;
    margin: 5%;
    

}