<!-- bizarre -->
<head>
<title>Social Algorithms</title>>
<link rel="stylesheet" href="social.css"/>
<style>
body {
    background-color: black;
  }
</style>
</head>
<body>
<canvas id="canvas" width=3000 height=3000></canvas>
<script src="social.js"></script>
</body>